/* CSS Document */

.center {
  width: 50%;
  margin: auto;
}

.Page {
  position: relative;
  margin-bottom: 2rem;
}

table,
th,
td {
  border: 1px solid #d0d0d0;
  border-radius: 33px;
}

.STDText {
  font-size: 1.5vw;
}

/* Fonts */

.STDFont {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

.STDh1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 30px;
}

.STDh2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 25px;
}

.PDFont {
  font-family: 'Caveat', cursive;
}

body {
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

ul {
  margin-left: 35px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
}

.PDPink {
  color: #ff811b;
}

hr {
  max-width: 1000px;
  width: 80%;
  color: #ffdeec;
  outline-color: transparent;
  background: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #dd37a9;
}
